#title-bar-draggable {
  -webkit-app-region: drag; /* Allow the title bar to be draggable */
}

::-webkit-scrollbar {
  display: none;
}

:root {
  overflow: hidden;
  user-select: none;
}

.scroll-active {
  overflow: auto;
}
.scroll-active::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.scroll-active::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.25);
  border-radius: 5px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.w-color-sketch {
  --sketch-background: #323232 !important;
}
